<nav class="navbar navbar-default navbar-top" ng-if="ClientCtrl.showNavbar()">
        <div class="navbar-header container-fluid">
            <a class="navbar-brand" ui-sref="client.catalog">Catalog</a>
            <a class="navbar-brand" ui-sref="client.orders">Orders <span class="badge" ng-bind="ClientCtrl.client.orders.length"></span></a>
            <a class="navbar-brand pull-right" ng-click="ClientCtrl.signOut()" ng-if="ClientCtrl.client.userId">
                <i class="fa fa-sign-out" title="LogOut"></i>
            </a>
            <a class="navbar-brand pull-right" ng-click="ClientCtrl.$state.go('client.login')" ng-if="!ClientCtrl.client.userId">
                <i class="fa fa-sign-in" title="LogIn"></i>
            </a>
            <a class="navbar-brand pull-right navbar-content-toggle" data-toggle="collapse" data-target="#navbar-content" ng-if="ClientCtrl.showFilter()">
                <i class="fa fa-search" title="Search"></i>
            </a>
        </div>
        <ul class="collapse" id="navbar-content">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group" style="position: relative">
                    <input type="text"
                           class="form-control"
                           placeholder="Search"
                           ng-model="ClientCtrl.filter.searchString"
                           ng-model-options="{debounce: {'default': 300, 'blur': 0} }"
                           ng-change="ClientCtrl.applyFilter()"/>
                    <span class="fa fa-close clear-search-string" ng-if="ClientCtrl.filter.searchString" ng-click="ClientCtrl.clearSearchString()"></span>

                </div>
            </form>
            <ul class="nav navbar-nav text-center">
                <li class="container-fluid filter-row-wrp">
                    <div class="filter-row container-fluid"  ng-click="ClientCtrl.applyFilter()">
                        <div class="btn-group text-center choose-nation">
                            <label class="btn btn-default btn-sm" ng-model="ClientCtrl.filter.nation" btn-radio="1">
                                <span >Ru</span>
                            </label>
                            <label class="btn btn-default btn-sm" ng-model="ClientCtrl.filter.nation" btn-radio="2">
                                <span>En</span>
                            </label>
                            <label class="btn btn-default btn-sm" ng-model="ClientCtrl.filter.nation" btn-radio="3">
                                All
                            </label>
                        </div>
                        <div class=" text-center pull-right" ng-if="ClientCtrl.client.userId">
                            <button type="button" class="btn btn-default" ng-model="ClientCtrl.filter.favorites" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                <i class='fa fa fa-star'></i>
                            </button>
                        </div>
                        <div class="pro-switch text-center pull-right">
                            <button type="button" class="btn btn-default" ng-model="ClientCtrl.filter.pro" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                PRO
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

        </ul>
</nav>
<ui-view></ui-view>
<nav class="navbar navbar-default navbar-fixed-bottom navbar-bottom" ng-if="ClientCtrl.showPagination()">
    <div class="container-fluid text-center">
        <pagination class="pagination pagination-sm"
                    direction-links="false"
                    boundary-links="true"
                    first-text="<<"
                    last-text=">>"
                    total-items="ClientCtrl.pagination.totalItems"
                    items-per-page="ClientCtrl.pagination.itemsPerPage"
                    max-size="ClientCtrl.pagination.width"
                    boundary-links="true"
                    rotate="true"
                    ng-change="ClientCtrl.getSongs()"
                    ng-model="ClientCtrl.filter.page">
        </pagination>
    </div>
</nav>