<ul class="orders-list" >
    <li class="container-fluid order-row" ng-repeat="row in OrdersCtrl.orders" ng-hide="!OrdersCtrl.showPassed && row.order.passed">
        <div class="container-fluid">
            <div class="col-xs-2 order-aria">
                <div class="order-up order-action" ng-click="OrdersCtrl.orderUp(row)">
                    <i class="fa fa-arrow-circle-o-up"></i>
                </div>
                <div class="order-delete order-action" ng-click="OrdersCtrl.deleteOrder(row)">
                    <i class="fa fa-minus-circle"></i>
                </div>
                <div class="order-down order-action" ng-click="OrdersCtrl.orderDown(row)">
                    <i class="fa fa-arrow-circle-o-down"></i>
                </div>
            </div>
            <div class="col-xs-6 order-wrp">
                    <span class="song-title" ng-bind="row.song.title"></span>
                    <span class="song-artist" ng-bind="row.song.artist"></span>
            </div>
            <div class="orders-tunes">
                <div class="tap-aria" ng-click="row.order.tone = OrdersCtrl.decrease(row.order.tone, -8)">
                    <i class="fa fa-minus-square" ></i>
                </div>
                <span ng-bind="row.order.tone" class="text-center"></span>
                <div class="tap-aria" ng-click="row.order.tone = OrdersCtrl.increase(row.order.tone, 8)">
                    <i class="fa fa-plus-square"></i>
                </div>
            </div>
        </div>

    </li>
</ul>
<!--<nav class="navbar navbar-default navbar-fixed-bottom navbar-bottom text-center">-->
    <!--<button type="button" class="btn btn-default" ng-click="OrdersCtrl.updateClient()">-->
        <!--<i class="fa fa-upload"> Update</i>-->
    <!--</button>-->
<!--</nav>-->