<nav class="navbar navbar-default navbar-top manager-navbar">
    <div class="navbar-header container-fluid">
        <a class="navbar-brand manager-navbar-actions">
            <i ng-if="!ManagerCtrl.party" type="button" class="fa fa-glass" ng-click="ManagerCtrl.startParty()" title="Start Party"></i>
        </a>
        <div ng-if="ManagerCtrl.party">
            <a class="navbar-brand">
                Clients <span class="badge" ng-bind="ManagerCtrl.clients.length"></span>
            </a>
            <a class="navbar-brand">
                <i ng-if="ManagerCtrl.party" type="button" class="fa fa-plus add-client-btn manager-navbar-actions" ng-click="ManagerCtrl.addClient()" title="Add Client"></i>
            </a>
            <a class="navbar-brand pull-right">
                <i ng-if="ManagerCtrl.party" type="button" class="fa fa-power-off manager-navbar-actions" ng-click="ManagerCtrl.endParty()" title="End party"></i>
            </a>
        </div>
        <a class="navbar-brand pull-right">
            <i class="fa fa-cloud-upload manager-navbar-actions" ng-click="ManagerCtrl.showUploadModal()" title="Upload Updates"></i>
        </a>
    </div>
</nav>
<div class="clients-wrp" style="max-width: 768px;" as-sortable="{}" ng-model="ManagerCtrl.clients">
    <div class="panel panel-default" ng-repeat="client in ManagerCtrl.clients" as-sortable-item>
        <div class="sort-handler" as-sortable-item-handle>
            <div class="panel-heading container-fluid">
                <div class="client-title col-md-6" ng-click="client.editing = true" ng-hide="client.editing" style="cursor: pointer;">
                    <span ng-bind="client.title || (index() + 1 + ': ' + (client.userId.nick || client.userId.email || client.lastFive))"></span>
                    <span class="badge" ng-bind="client.orders.length"></span>
                </div>
                <div class="client-title-edit col-md-6" ng-if="client.editing">
                    <form class="form-inline">
                        <input type="text" class="form-control" ng-model="client.title" placeholder="Title"/>
                        <button type="button" class="btn btn-sm btn-success" ng-click="client.editing = false"><i class="fa fa-check-square"> Ok</i></button>
                    </form>

                </div>
                <div class="close-btn pull-right" ng-click="ManagerCtrl.leave(client)">
                    <i class="fa fa-close"></i>
                </div>
                <div class="collapse-btn pull-right"
                     data-toggle="collapse"
                     aria-expanded="false"
                     data-target="#clientBody{{$index}}"
                     aria-controls="clientBody{{$index}}"
                     ng-click="client.collapsed = !client.collapsed">
                    <i class="fa" ng-class="{'fa-sort-up': !client.collapsed, 'fa-sort-down': client.collapsed}"></i>
                </div>

            </div>
            <div class="panel-body collapse" ng-class="{in: !client.collapsed}" id="clientBody{{$index}}">
                <div class="hide-passed text-right">
                    <button class="btn btn-link" ng-click="client.hidePassed = !client.hidePassed">
                        <i class="fa fa-eye" ng-if="client.hidePassed"></i>
                        <i class="fa fa-eye-slash" ng-if="!client.hidePassed"></i>
                    </button>

                </div>
                <ul class="list-group">
                    <li class="list-group-item mng-order-wrp container-fluid" ng-repeat="order in client.orders" ng-hide="client.hidePassed && order.passed">
                        <span class="order-code col-md-2" ng-bind="order.song.code"></span>
                        <div class="order-song col-md-7">
                            <span class="song-title" ng-bind="order.song.title"></span>
                            <span class="song-artist" ng-bind="order.song.artist"></span>
                        </div>
                        <div class="order-tunes col-md-2">
                            <span class="tunes" ng-bind="order.tone"></span>
                            <span class="tunes" ng-bind="order.speed"></span>
                        </div>
                        <div class="order-passed col-md-1 text-center"  ng-click="ManagerCtrl.orderPassed(order)">
                            <input type="checkbox" class="form-control" ng-model="order.passed" style="margin:0;">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!--<div class="manager-wrp" ng-if="ManagerCtrl.isManager">-->
    <!--<ul class="clients-list"  style="cursor: move">-->
        <!--<li ng-repeat="client in ManagerCtrl.clients" class="well well-sm">-->
            <!--<span ng-bind="client.userId && client.userId.nickname || client.userId.email || 'Private'"></span>-->
            <!--<i class="fa fa-signal client-status" ng-class="{'client-active': client.isActive}"></i>-->
            <!--<i class="fa fa-sign-out client-status pull-right" ng-click="ManagerCtrl.leave(client)"></i>-->
            <!--<span ng-bind="client._id" class="pull-right"></span>-->
            <!--<ul class="songs-list">-->
                <!--<li ng-repeat="order in client.orders" ng-click="ManagerCtrl.passedOrder(order)">-->
                    <!--<div class="col-sx-1">-->
                        <!--<i class="fa fa-check-square-o" ng-if="order.passed"></i>-->
                        <!--<i class="fa fa-square-o" ng-if="!order.passed"></i>-->
                    <!--</div>-->
                    <!--<div class="col-xs-11">-->
                        <!--<span class="col-xs-2">{{order.song.code}}</span>-->
                        <!--<span class="col-xs-4 text-center">{{order.song.title}}</span>-->
                        <!--<span class="col-xs-4 text-center">{{order.song.artist}}</span>-->
                        <!--<span class="col-xs-1 text-center">{{order.tone}}</span>-->
                        <!--<span class="col-xs-1 text-center">{{order.speed}}</span>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li ng-if="client.orders.length === 0">-->
                    <!--There is no orders yet-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li ng-if="ManagerCtrl.clients.length === 0" class="nav-tip text-center">-->
            <!--Waiting for first client-->
        <!--</li>-->
        <!--<li ng-if="!ManagerCtrl.party" class="nav-tip text-center">-->
            <!--Waiting for party to start-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<alert class="manager-notification" ng-repeat="noti in ManagerCtrl.notifications" type="{{noti.type}}" close="ManagerCtrl.closeNoti(noti)" ng-bind="noti.msg"></alert>-->


