<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-question-circle" style="font-size:3em;color:#ccc"></i>
                <h4 class="modal-title" ng-bind="question"></h4>
            </div>
            <div class="modal-body container-fluid">
                <button type="button" class="btn btn-success btn-s" ng-click="ctrl.ok()">
                    <i class="fa fa-check-circle"> Yes</i>
                </button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.close()">
                    <i class="fa fa-times-circle"> No</i>
                </button>
            </div>
        </div>
    </div>
</div>