<ul class="songs-list">
    <li class="container-fluid song-row animate-repeat" ng-repeat="song in songs" ng-class="{ordered: song.isOrdered}">
        <div class="col-xs-10 title-wrp no-select" on-tap="CatalogCtrl.makeOrder(song)" on-tap-hold="CatalogCtrl.configOrder(song)">
            <span class="song-title" ng-bind="song.title"></span>
            <span class="song-artist" ng-bind="song.artist"></span>
        </div>
        <div class="star-wrp col-xs-2 text-center" ng-click="CatalogCtrl.addToFavs(song)" ng-if="CatalogCtrl.client.userId">
            <i class="fa fa-star" ng-class="{'fav-active': song.inFavs}"></i>
        </div>
    </li>
    <li class="container-fluid song-row text-center" ng-if="songs.length === 0 && !ClientCtrl.songsLoading">
        <span>There is nothing to show</span>
    </li>
    <li class="container-fluid song-row text-center" ng-if="ClientCtrl.songsLoading">
        <span>Loading...</span>
    </li>
</ul>