<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-edit" style="font-size:3em;color:#ccc"></i>
                <h4 class="modal-title">Config Order</h4>
                <h5>{{ctrl.song.title}} - {{ctrl.song.artist}}</h5>
            </div>
            <form enctype="multipart/form-data">
                <div class="modal-body container-fluid">
                    <div class="col-xs-5 order-tunes text-center no-padding">
                        <div class="col-xs-12">Tone</div>
                        <div class="col-xs-12 no-padding">
                            <div class="text-center col-xs-3 no-padding">
                                <button type="button" class="btn btn-xs btn-default" ng-click="ctrl.tunes.tone = ctrl.decrease(ctrl.tunes.tone, -8)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div class="col-xs-6 text-center no-padding" ng-bind="ctrl.tunes.tone"></div>
                            <div class="text-center col-xs-3 no-padding">
                                <button type="button" class="btn btn-xs btn-default" ng-click="ctrl.tunes.tone = ctrl.increase(ctrl.tunes.tone, 8)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 order-tunes text-center no-padding pull-right">
                        <div class="col-xs-12">Speed</div>
                        <div class="col-xs-12 no-padding">
                            <div class="text-center col-xs-3 no-padding">
                                <button type="button" class="btn btn-xs btn-default" ng-click="ctrl.tunes.speed = ctrl.decrease(ctrl.tunes.speed, -5)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div class="col-xs-6 text-center no-padding" ng-bind="ctrl.tunes.speed"></div>
                            <div class="text-center col-xs-3 no-padding">
                                <button type="button" class="btn btn-xs btn-default" ng-click="ctrl.tunes.speed = ctrl.increase(ctrl.tunes.speed, 7)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" ng-if="ctrl.user._id">
                    <input type="checkbox" ng-model="ctrl.saveAsDef"> Use this tunes for quick order
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-s" ng-click="ctrl.makeOrder()">Order</button>
                    <button type="button" class="btn btn-info btn-s" ng-click="ctrl.saveTunes()" ng-if="ctrl.user">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="ctrl.close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>