<div class="form-wrp form-wrp-login">
    <div class="login-form-header">
        <i class="fa fa-user-secret"></i>
        <div class="login-form-header-text" style="font-size: .17em;">Introduce yourself:</div>
    </div>
    <div class="login-form-body">
        <form name="login">
            <div class="form-group text-center">
                <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email" required>
            </div>
            <div class="form-group text-center">
                <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required>
            </div>
            <div ng-class="{shake: !LoginCtrl.auth}">
                <div class="alert alert-danger" role="alert" ng-if="!LoginCtrl.auth">Wrong email/password</div>
            </div>
            <div class="container-fluid" style="width:100%">
                <div class="form-group text-right pull-right">
                    <button type="button" class="btn btn-primary" ng-click="LoginCtrl.reg(email, password)">Registration</button>
                    <button type="button" class="btn btn-success" ng-click="LoginCtrl.check(email, password)" ng-disabled="!email && !password">Login</button>
                    <button type="button" class="btn btn-danger" ng-click="LoginCtrl.next()">Anonym</button>
                </div>
            </div>
        </form>
    </div>
</div>