<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-unlock" style="font-size:5em;color:#ccc"></i>
                <h4 class="modal-title">Registration</h4>
            </div>
            <form name="regForm" class="reg-form">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" class="form-control"
                               name="email" ng-class="{shake: ctrl.duplicateEmail}" required
                               placeholder="Email" ng-minlength="4" ng-model="data.email"
                                ng-click="ctrl.duplicateEmail = false"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" required placeholder="Password" ng-model="data.password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="rptPassword" required placeholder="Repeat Password" ng-minlength="4"  ng-model="data.rptPassword"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="alert alert-danger pull-left reg-alerts" role="alert" ng-hide="regForm.$valid && !ctrl.duplicateEmail" ng-bind-html="ctrl.tips(regForm)"></div>
                    <button type="button" class="btn btn-success" ng-disabled="regForm.$invalid || data.password !== data.rptPassword || ctrl.duplicateEmail" ng-click="ctrl.close(data)">Done</button>
                    <button type="button" class="btn btn-danger" ng-click="ctrl.close()">Dismiss</button>
                </div>
            </form>
        </div>
    </div>
</div>