<div class="choose-wrp" ng-hide="StartCtrl.isClient">
    <div class="choose-btn-wrp text-center">
        <button class="btn btn-success choose-btn" ng-click="StartCtrl.isClient = true">Client</button>
    </div>
    <div class="choose-btn-wrp text-center">
        <button class="btn btn-danger choose-btn" ng-click="StartCtrl.goToManager()">Manager</button>
    </div>
</div>
<div class="form-wrp form-wrp-login" ng-if="StartCtrl.isClient">
    <div class="login-form-header">
        <i class="fa fa-microphone"></i>
        <div class="login-form-header-text">Let's Rock!</div>
    </div>
    <div class="login-form-body">
        <form name="login">
            <div class="form-group text-center" ng-if="!StartCtrl.wrongId">
                <label for="clientId">Enter client id to start party:</label>
                <input type="text" class="form-control" name="clientId" id="clientId" ng-model="clientId" required >
                <div class="form-group text-right pull-right col-xs-3 col-md-3 go-btn">
                    <button type="button" class="btn btn-primary" ng-hide="!clientId || clientId.length !== 5" ng-click="StartCtrl.checkClientId(clientId)">Go!</button>
                </div>
            </div>
            <div class="container-fluid text-center">
                <div class="alert alert-danger col-xs-8 col-md-8 text-center" role="alert" ng-if="StartCtrl.wrongId" ng-click="StartCtrl.wrongId=null">
                    Invalid Id!
                </div>
            </div>
        </form>
    </div>
</div>
