<div class="middle-box text-center animated fadeInDown">
    <h1>{{error.status}}</h1>
    <h3 class="font-bold">{{message}}</h3>
    <div class="error-desc">
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
        You can go back to main page: <br/><a href="/" class="btn btn-primary m-t">Home</a>
    </div>
</div>
