@font-face {
    font-family: Margot;
    src: url(/public/css/fonts/Margot%20Fette.ttf);
}
@font-face {
    font-family: Tekton;
    src: url(/public/css/fonts/TektonPro-BoldCond.otf);
}
input {
    color: #000;
}
.ngi-inspector {
    color: #333 !important;
}
body {
    color: #f5f5f5;
    width: 100%;
    height: 100vh;
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to bottom, rgba(140,220,237,1) 0%, rgba(41,209,237,1) 50%, rgba(140,220,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}
.form-wrp {
    position: absolute;
    color: #fff;
    border-radius: 12px;
}
.form-wrp .go-btn {
    margin-top: -34px;
    padding: 0;
}
.form-wrp.form-wrp-login{
    width: 300px;
    height: auto;
    min-height: 300px;
    top: 30%;
    right: 10%
}
@media screen and (max-width: 700px) {
    .form-wrp {
        top: auto !important;
        bottom: 3% !important;
        left: 50% !important;
        margin-left: -150px !important;
    }
}
.form-wrp.form-wrp-meet{
    bottom: 3%;
    left: 0;
    width: 300px;
    height: 500px;
}
.login-form-header {
    font-size: 10em;
    text-align: center;
    position: relative;
    text-shadow: 2px 2px 2px #000;
    color: #f00;
}
.login-form-header-text {
    font-size: 0.3em;
    z-index: 100;
    margin-top: -30px;
    font-family: "Margot";
}
.alert {
    padding: 6px !important;
}
.alert-danger {
    color: inherit !important;
    background-color: rgba(255, 0, 0, 0.3);
}

.shake {
    -webkit-animation-name: shake; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .2s; /* Chrome, Safari, Opera */
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: 2;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes shake {
    0% {margin-top: 0;}
    50% {margin-top: -5px;}
    75% {margin-top: 5px;}
    100% {margin-top: 0;}
}

/* Standard syntax */
@keyframes shake {
    0% {margin-top: 0;}
    50% {margin-top: -5px;}
    75% {margin-top: 5px;}
    100% {margin-top: 0;}
}
.form-control {
    /*width: 90%;*/
    /*margin-left:5%;*/
}
@media screen and (max-width: 500px) {
    .registration-benefits {
        display: none;
        visibility: hidden;
    }
}
.registration-benefits {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 50px;
    font-size: .9em;
    letter-spacing: 1px;
    padding: 5px;
    font-family: Tekton;
}
div.reg-alerts {
    color: #fff !important;
}
@media screen and (max-width: 360px) {
    .reg-alerts {
        width: 100%;
    }
}
.reg-form input.ng-dirty.ng-invalid, .reg-form input.shake {
    border-color: rgba(175, 0, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(175, 0, 0, .6);
}
div.songs-list-wrp {
    background-color: rgba(100,100,100, .6);
    width: 100vw;
    border-radius: 5px;
    border: rgba(175,175,175, .3) solid 1px;
    box-shadow: 0 0 5px #000 inset, 0 0 1px #fff;
    padding: 15px 10px;
    height: calc(100vh - 100px);
    overflow: hidden;
    margin: 10px auto;

}
ul.songs-list{
    padding: 0 10px 52px 10px;
    margin: 0 auto;
    width: 100%;
    color: midnightblue;
    font-family: -webkit-body;
}
ul.songs-list li{
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    border-radius: 7px;
}
ul.songs-list li.ordered {
    color: #fff;
    background-color: #337ab7;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
ul.songs-list li.empty-list {
    cursor: default;
}
ul.songs-list li.empty-list i {
    float: none;
    font-size: 5em;
}
ul.songs-list li.empty-list:hover {
    /*border: none;*/
    /*border-radius: 5px;*/
    /*box-shadow: none;*/
    /*font-size: 1em;*/
    /*margin-left: 0;*/
}
ul.songs-list li:after{
    clear: both;
    display: block;
    content: '';
}
ul.songs-list .fa-caret-up{
    position: absolute;
    left: 50%;
    top: -10px;
    margin: 0 0 0 -4px;
}
ul.songs-list .fa-caret-down{
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin: 0 0 0 -4px;
}
.caret-wrp{
    position: relative;
    width: 15px;
}
div.manager-wrp {
    width: 100vw;
}
ul.clients-list {
    background-color: rgba(100,100,100, .6);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: rgba(175,175,175, .3) solid 1px;
    box-shadow: 0 0 5px #000 inset, 0 0 1px #fff;
    /*margin: 10px auto;*/
    max-height: calc(100vh - 80px);
    overflow: hidden;
    overflow-y: auto;
}
ul.clients-list>li{
    background-color: transparent;
    list-style: none;
    margin: 7px 0;
    cursor: pointer;
    border: 2px solid #666;
}
ul.clients-list  li:hover {
    /*border: none;*/
    /*box-shadow: none;*/
    /*font-size: 1em;*/
    /*margin-left: 0;*/
}
ul.clients-list ul.songs-list {
    width: 100%;
}
.drop-zone {
    border: 2px dashed #ccc;
}
.drop-zone.drop-hover {
    border: 4px dashed #000;
    transition: all .9s;
    font-weight: bold;
}
.file-upload {
    position: relative;
}
.file-upload input{
    z-index: 999;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}
.nav {
    padding: 8px 0px;
    /*background-color: rgba(0, 0, 0, .3);*/
    /*border: 1px solid rgba(0, 0, 0, .5);*/

}
div.songs-list-header div.container-fluid {
    margin-bottom: 10px;
}
div.songs-list-wrp .well {
    background-color: rgba(175,175,175,.4);
    border: 1px solid rgba(175,175,175,.8);
}
ul.pagination {
    margin: 0 auto 10px auto;
}
ul.pagination a{
    min-width: 51px;
    text-align: center;
}
.order-tunes span{
    margin: 0 10px;
    font-size: 1.1em;
}
.order-tunes i{
    cursor: pointer;
}

.client-status {
    color: red;
}

.client-status.client-active {
    color: green;
}
.files-parsing {
    text-align: center;
    font-size: 4em;
    color: #ccc;
    /*text-shadow: 0 0 4px rgba(0, 0, 0, 1);*/
}
.nav-actions i {
    font-size: 1.7em;
    color: #fff;
    text-align: right;
    cursor: pointer;
    margin: 8px;
}
.upload-button i:hover {
    /*color: #ccc;*/
}
.manager-nav {
    border: none;
    box-shadow: 0 0 5px 5px #000;
    background-color: rgba(175, 175, 175, .5);
    height: 40px;
}
.manager-nav li {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}
.nav-tip {
    font-size: 1.5em;
    font-weight: bold;
}
.fav-active {
    color: gold;
}
.song-title {
    font-size: 1em;
    font-weight: bold;
    display: block;
}
.song-artist {
    font-size: .8em;
    display: block;
}
.star-wrp {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 35px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -17px;
}
.song-row {
    position: relative;
}
.manager-notification {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
@media screen and (max-width: 600px) {
    .pagination-wrp {
        height: 32px;
    }
    ul.pagination {
        margin-bottom: 3px;
    }
}
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-sm {
    padding: 7px 11px !important;
}
.filter-row {
    padding: 0;
}
.filter-row > div {
    padding: 0 5px;
    float: left;
}
.navbar-bottom {
    height: 40px !important;
    min-height: initial;
    box-shadow: 0 -3px 5px 0 rgba(0,0,0,.7);
}
.navbar-top {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.7);
    margin-bottom: 0;
}
.pagination {
    margin: 5px auto !important;
}
.title-wrp {
    padding: 0 0 0 5px;
    width: 84%;
}
.badge {
    vertical-align: text-bottom;
}
.orders-list {
    padding: 10px 0 0 0;
}
.orders-list li {
    padding: 5px;
    list-style: none;
    position: relative;
    border-bottom: 2px solid #fff;
    color: midnightblue;
    border-radius: 10px;
}
.orders-tunes {
    position: absolute;
    height: 75px;
    right: 5px;
    top: 50%;
    margin-top: -37px;
    width: 100px;
}
.clear-search-string {
    position: absolute;
    color: #ccc;
    right: 3px;
    font-size: 2em;
    top: 0;
}
.navbar-header {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.navbar-brand {
    padding-top: 15px;
    padding-right: 10px;
}
.navbar-content-toggle {
    cursor: pointer;
}
#navbar-content {
    padding-left: 0;
}
.tap-aria {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 28px;
}
.orders-tunes span {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 20px;
    margin-top: -10px;
    margin-right: -10px;
}
/*.as-sortable-item {*/
    /*background-color: initial !important;*/
    /*border: none !important;*/
    /*border-bottom: 2px solid #ccc !important;*/
    /*border-radius: 0 !important;*/
/*}*/
/*.as-sortable-item-handle{*/
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
/*}*/
.order-aria {
    height: 110px;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}
.order-wrp {
    padding: 0 !important;
    margin-top: 40px;

}
.order-wrp span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    width: 100%;
}
.order-action {
    font-size: 1.5em;
    padding-left: 10px;
    width: 50px;
    height: 36px;
}
.order-delete {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.order-down {
    position: absolute;
    bottom: 0;
}
.order-up {
    padding-top: 6px;
}
.order-row {
    height: 120px;
}
.manager-navbar {
    max-width: 768px;
    margin: 4px auto;
    box-shadow: none !important;
}
.manager-navbar .navbar-brand {
    margin-left: 0 !important;
}
.add-client-btn {
    color: #ccc;
    margin-left: -16px;
}
.manager-navbar-actions {
    cursor: pointer;
    font-size: 1.2em;
}
.clients-wrp {
    max-width: 768px;
    margin: 1px auto;
    background-color: #fff;
    color: #000;
    padding: 10px;
}
.panel {
    margin-bottom: 10px;
}
.panel-heading {
    position: relative;
}
.close-btn {
    cursor: pointer;
    color: #ccc;
    margin-right: 10px;
}
.collapse-btn {
    cursor: pointer;
    font-size: 1.2em;
    color: #ccc;
    margin-right: 10px;
}
.mng-order-wrp > *{
    float: left;
}
.navbar-brand i {
    font-size: 1em;
}
.navbar-brand.pull-right {
    padding: 15px 8px;
}
.choose-wrp {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -60px;
}
.choose-btn-wrp {
    margin: 10px;
    float: left;
    transition: 100ms all;
    width: 100px;
    height: 100px;
}
.choose-btn {
    height: 100px;
    width: 100px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
    border-radius: 15px;
}
div.ui-page.ui-page-theme-a.ui-page-active, div.ui-mobile-viewport.ui-overlay-a {
    background-color: transparent;
    color: #fff;
    text-shadow: none;
}
div.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    display: none;
}

.hidden {
    display: none;
}
a.navbar-brand {
    color: #38c !important;
}
.loader {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.modal-backdrop {
    background-color: rgba(0,0,0,.9);
}
ul.pagination li.active a{
    color: #fff;
}
.no-padding{
    padding: 0 !important;
}
.files-ul {
    padding-left: 10px;
}
.files-ul li {
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
}