<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0" ng-class="{animated: true, shake: ctrl.wrongPair}">
        <div class="modal-content">
            <div class="modal-header text-center">
                <i class="fa fa-globe" style="font-size:3em;color:#ccc"></i>
                <h4 class="modal-title">Enter your credentials</h4>
            </div>
            <form>
                <div class="modal-body container-fluid">
                    <div class="form-group">
                        <span>Username: </span>
                        <input type="text" class="form-control" ng-model="username" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <span>Password: </span>
                        <input type="password" class="form-control" ng-model="password" placeholder="Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger col-xs-8 pull-left" ng-if="ctrl.wrongPair">
                        Wrong password!
                    </div>
                    <button type="button" class="btn btn-success" ng-click="ctrl.login(username, password)">LogIn</button>
                </div>
            </form>
        </div>
    </div>
</div>