<div ng-if="SuperCtrl.logged">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="SuperCtrl.reg(username, password)" ng-disabled="!username || !password">Create new admin</button>
        </div>
    </form>
</div>