<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0">
        <div class="modal-content">
            <!--<div class="modal-header text-center">-->
                <!--<i class="fa fa-globe" style="font-size:3em;color:#ccc"></i>-->
                <!--<h4 class="modal-title">This section is private</h4>-->
            <!--</div>-->
            <form enctype="multipart/form-data">
                <div class="modal-body container-fluid">
                    <input type="text" class="form-control" ng-model="code" placeholder="Enter secret" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="ctrl.login(code)">LogIn</button>
                </div>
            </form>
        </div>
    </div>
</div>