<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-cloud-upload" style="font-size:3em;color:#ccc"></i>
                <h4 class="modal-title">Install updates</h4>
            </div>
            <form enctype="multipart/form-data">
                <div class="modal-body container-fluid">
                    <div ng-hide="ctrl.parsing">
                        <div class="file-select" ng-class="{'col-xs-5': ctrl.files || ctrl.response, 'container-fluid': !ctrl.files && !ctrl.response}">
                            <div class="well drop-zone text-center" drop-upload="ctrl.files">
                                Drop Files here
                            </div>

                            <div class="btn btn-success file-upload">
                                <input class="upload" type="file" upload="ctrl.files" multiple accept=".xls, .xlsx"/>
                                <i class="fa fa-plus"> Add Files</i>
                            </div>

                        </div>
                        <div class="col-xs-7 files-queue" ng-show="ctrl.files.length">
                            <h4>Files Queue:</h4>
                        <span>
                            queue length: <strong ng-bind="ctrl.files.length"></strong>
                        </span>
                            <ul class="files-ul">
                                <li ng-repeat="item in ctrl.files" ng-bind="item.name"></li>
                            </ul>
                        </div>
                        <div class="col-xs-7 upload-result" ng-if="ctrl.response && !ctrl.files.length">
                            <span class="col-xs-6">Total: <strong>{{ctrl.response.total}}</strong></span>
                            <span class="col-xs-6">Duplicated: <strong>{{ctrl.response.duplicated}}</strong></span>
                            <span class="col-xs-6">Affected: <strong>{{ctrl.response.affected}}</strong></span>
                            <span class="col-xs-6">Errors: <strong>{{ctrl.response.errors}}</strong></span>
                        </div>
                    </div>
                    <div ng-show="ctrl.parsing" class="files-parsing">
                        <i class="fa fa-spin fa-refresh"></i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-s" ng-click="ctrl.parseXLS()" ng-disabled="!ctrl.files.length" disabled="disabled">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="ctrl.close()">Dismiss</button>
                </div>
            </form>
        </div>
    </div>
</div>