<div tabindex="-1" role="dialog"  aria-hidden="true" style="display: block;color:#444">
    <div class="modal-dialog" style="margin: 0" ng-class="{animated: true, shake: ctrl.alreadyExist}">
        <div class="modal-content">
            <div class="modal-header text-center">
                <i class="fa fa-globe" style="font-size:3em;color:#ccc"></i>
                <h4 class="modal-title">Welcome!</h4>
            </div>
            <form name="adminForm">
                <div class="modal-body container-fluid">
                    <div class="container-fluid text-center">
                        <h4>Fill up registration form:</h4>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" class="form-control" name="username" ng-model="username" placeholder="Username" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control"
                                   name="password" ng-model="password"
                                   placeholder="Password" required ng-minlength="4"
                                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"/>
                        </div>
                        <p class="help-block" style="font-size:0.8em"
                           ng-show="adminForm.password.$dirty && adminForm.password.$invalid">Password must be at least 4 chars</p>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control" name="rptPassword" ng-model="rptPassword" placeholder="Once Again" required/>
                        </div>
                        <p class="help-block" style="font-size:0.8em"
                           ng-show="adminForm.rptPassword.$dirty && adminForm.rptPassword.$invalid">Passwords doesn't match</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger col-xs-8 pull-left" ng-if="ctrl.alreadyExist">
                        This username already taken. Choose another one.
                    </div>
                    <button type="button" class="btn btn-success"
                            ng-click="ctrl.updateUser()"
                            ng-disabled="adminForm.$invalid">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>